In [1]:
import os

directory_list = []
for root, dirs, files in os.walk("/Users/yiran/Desktop/Step-Omics/step count data files", topdown=False):
    for name in dirs:
        directory_list.append(os.path.join(root, name))

import glob
import pandas as pd

step_count_activity=pd.DataFrame()
filenames=pd.DataFrame()
str='/*.xls'
paths=[x+str for x in directory_list]
paths.sort()

In [2]:
for path in paths:
    filenames = glob.glob(path)
    for filename in filenames:
        df=pd.read_excel(filename, sheet_name='Activities')
        df['studyID']=path[54:58]
        step_count_activity=step_count_activity.append(df)
step_count_activity=step_count_activity.set_index('studyID')
step_count_activity

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
studyID,,,,,,,,,,
2001,2015-08-23,"2,150","1,592",0.73,0.0,"1,398",29.0,13.0,0,206
2001,2015-08-24,"2,545","6,059",2.79,0.0,"1,319",89.0,17.0,15,701
2001,2015-08-25,"2,372","3,243",1.50,0.0,"1,325",115.0,0.0,0,517
2001,2015-08-26,"2,643","7,319",3.51,0.0,"1,304",105.0,12.0,19,837
2001,2015-08-27,"2,849","9,289",5.01,0.0,"1,321",63.0,15.0,41,"1,013"
2001,2015-08-28,"2,590","5,031",2.32,0.0,"1,269",155.0,16.0,0,777
2001,2015-08-29,"2,965","9,355",4.32,0.0,"1,137",284.0,19.0,0,"1,388"
2001,2015-08-30,"2,926","9,400",4.55,0.0,"1,212",197.0,12.0,19,"1,235"
2001,2015-08-31,"2,537","5,215",2.39,0.0,"1,281",159.0,0.0,0,753
2001,2015-09-01,"2,444","4,071",1.88,0.0,"1,306",127.0,7.0,0,616
2001,2015-09-02,"2,614","5,273",2.43,0.0,"1,267",173.0,0.0,0,799
2001,2015-09-03,"2,360","3,474",1.60,0.0,"1,330",110.0,0.0,0,512
2001,2015-09-04,"2,802","7,115",3.32,0.0,"1,191",249.0,0.0,0,"1,124"
2001,2015-09-05,"2,629","5,794",2.66,0.0,"1,244",174.0,17.0,5,891
2001,2015-09-06,"2,616","6,060",2.80,0.0,"1,256",163.0,15.0,6,870
2001,2015-09-07,"2,212","2,070",0.97,0.0,"1,375",65.0,0.0,0,305
2001,2015-09-08,"2,100",810,0.39,0.0,"1,414",26.0,0.0,0,119
2001,2015-09-09,"2,420","3,978",1.83,0.0,"1,325",103.0,11.0,1,552
2001,2015-09-10,"2,131",521,0.24,0.0,"1,416",24.0,0.0,0,99
2001,2015-09-11,"2,685","6,583",3.03,0.0,"1,229",201.0,3.0,7,980
2001,2015-09-12,"2,303","2,388",1.10,0.0,"1,360",80.0,0.0,0,362
2001,2015-09-13,"3,183","13,174",6.11,0.0,"1,175",172.0,36.0,57,"1,540"
2001,2015-09-14,"2,316","3,553",1.65,0.0,"1,363",59.0,14.0,4,426
2001,2015-09-15,"2,072",750,0.34,0.0,"1,416",24.0,0.0,0,111
2001,2015-09-16,"2,103",820,0.38,0.0,"1,405",35.0,0.0,0,147
2001,2015-09-17,"2,355","3,026",1.41,0.0,"1,328",112.0,0.0,0,493
2001,2015-09-18,"2,049",308,0.14,0.0,"1,420",20.0,0.0,0,77
2001,2015-09-19,"2,036",480,0.22,0.0,"1,428",12.0,0.0,0,58
2001,2015-09-20,"2,092",904,0.42,0.0,"1,412",28.0,0.0,0,131
2001,2015-09-21,"2,060",758,0.35,0.0,"1,423",17.0,0.0,0,89
...,...,...,...,...,...,...,...,...,...,...
2085,2016-09-13,"2,219","10,869",5.08,0.0,"1,188",205.0,7.0,40,"1,000"
2085,2016-09-14,"2,460","15,886",7.90,0.0,"1,169",174.0,10.0,87,"1,325"
2085,2016-09-15,"2,442","15,359",7.01,0.0,"1,134",224.0,14.0,68,"1,317"
2085,2016-09-16,"2,331","13,363",6.19,0.0,"1,139",240.0,9.0,52,"1,210"
2085,2016-09-17,"2,045","9,529",4.04,0.0,"1,201",209.0,9.0,21,870
2085,2016-09-18,"1,881","6,076",2.60,0.0,"1,216",212.0,9.0,3,703
2085,2016-09-19,"2,409","14,469",6.43,0.0,"1,139",222.0,11.0,68,"1,228"
2085,2016-09-20,"2,574","17,499",7.86,0.0,"1,140",198.0,15.0,87,"1,382"
2085,2016-09-21,"2,274","11,882",5.47,0.0,"1,141",258.0,6.0,35,"1,130"
2085,2016-09-22,"1,809","5,558",2.38,0.0,"1,259",169.0,6.0,6,590
2085,2016-09-23,"1,390",0,0.00,0.0,"1,440",0.0,0.0,0,0
2085,2016-09-24,"1,390",0,0.00,0.0,"1,440",0.0,0.0,0,0
2085,2016-09-25,"1,390",0,0.00,0.0,"1,440",0.0,0.0,0,0
2085,2016-09-26,"1,768","5,690",2.53,0.0,"1,316",124.0,0.0,0,484
2085,2016-09-27,"2,515","16,593",7.70,0.0,"1,120",226.0,15.0,79,"1,408"
2085,2016-09-28,"2,224","12,428",5.57,0.0,"1,152",255.0,11.0,22,"1,109"
2085,2016-09-29,"2,178","9,845",4.51,0.0,"1,190",204.0,14.0,32,936
2085,2016-09-30,"2,029","8,591",3.91,0.0,"1,247",174.0,4.0,15,762
2085,2016-10-01,"2,029","7,381",3.26,0.0,"1,205",210.0,5.0,20,795
2085,2016-10-02,"2,022","9,036",4.14,0.0,"1,243",148.0,6.0,43,810
2085,2016-10-03,"2,030","8,973",4.22,0.0,"1,229",169.0,8.0,34,832
2085,2016-10-04,"2,525","16,287",7.62,0.0,"1,118",249.0,10.0,63,"1,389"
2085,2016-10-05,"2,256","11,974",5.55,0.0,"1,175",226.0,6.0,33,"1,063"
2085,2016-10-06,"2,466","15,280",7.13,0.0,"1,105",263.0,12.0,60,"1,366"
2085,2016-10-07,"2,260","13,504",5.74,0.0,"1,167",217.0,5.0,51,"1,121"
2085,2016-10-08,"2,127","11,517",4.90,0.0,"1,223",134.0,25.0,58,925
2085,2016-10-09,"1,731","4,082",1.74,0.0,"1,279",153.0,4.0,4,493
2085,2016-10-10,"2,286","13,197",6.22,0.0,"1,196",166.0,15.0,63,"1,101"
2085,2016-10-11,"2,195","10,768",5.05,0.0,"1,187",216.0,9.0,28,994
2085,2016-10-12,"2,470","16,361",7.75,0.0,"1,164",187.0,11.0,78,"1,314"

In [3]:
step_count_activity.columns

Index(['Date', 'Calories Burned', 'Steps', 'Distance', 'Floors',
       'Minutes Sedentary', 'Minutes Lightly Active', 'Minutes Fairly Active',
       'Minutes Very Active', 'Activity Calories'],
      dtype='object')

In [4]:
step_count_food=pd.DataFrame()
filenames=pd.DataFrame()
str='/*.xls'
paths=[x+str for x in directory_list]
paths.sort()
for path in paths:
    filenames = glob.glob(path)
    for filename in filenames:
        df=pd.read_excel(filename, sheet_name='Body')
        df['studyID']=path[54:58]
        step_count_food=step_count_food.append(df)
step_count_food=step_count_food.set_index('studyID')
step_count_food

               Date  Weight    BMI  Fat
studyID
2001     2015-08-23  225.00  32.18  0.0
2001     2015-08-24  225.00  32.18  0.0
2001     2015-08-25  225.00  32.18  0.0
2001     2015-08-26  225.00  32.18  0.0
2001     2015-08-27  225.00  32.18  0.0
2001     2015-08-28  225.00  32.18  0.0
2001     2015-08-29  225.00  32.18  0.0
2001     2015-08-30  225.00  32.18  0.0
2001     2015-08-31  225.00  32.18  0.0
2001     2015-09-01  225.00  32.18  0.0
2001     2015-09-02  225.00  32.18  0.0
2001     2015-09-03  225.00  32.18  0.0
2001     2015-09-04  225.00  32.18  0.0
2001     2015-09-05  225.00  32.18  0.0
2001     2015-09-06  225.00  32.18  0.0
2001     2015-09-07  225.00  32.18  0.0
2001     2015-09-08  225.00  32.18  0.0
2001     2015-09-09  225.00  32.18  0.0
2001     2015-09-10  225.00  32.18  0.0
2001     2015-09-11  225.00  32.18  0.0
2001     2015-09-12  225.00  32.18  0.0
2001     2015-09-13  225.00  32.18  0.0
2001     2015-09-14  225.00  32.18  0.0
2001     2015-09-15  225.00  32.18  0.0
2001     2015-09-16  225.00  32.18  0.0
2001     2015-09-17  225.00  32.18  0.0
2001     2015-09-18  225.00  32.18  0.0
2001     2015-09-19  225.00  32.18  0.0
2001     2015-09-20  225.00  32.18  0.0
2001     2015-09-21  225.00  32.18  0.0
...             ...     ...    ...  ...
2085     2016-09-13  146.12  24.32  0.0
2085     2016-09-14  146.05  24.30  0.0
2085     2016-09-15  145.97  24.29  0.0
2085     2016-09-16  145.90  24.28  0.0
2085     2016-09-17  145.67  24.24  0.0
2085     2016-09-18  145.45  24.20  0.0
2085     2016-09-19  145.22  24.17  0.0
2085     2016-09-20  145.00  24.13  0.0
2085     2016-09-21  145.11  24.15  0.0
2085     2016-09-22  145.22  24.17  0.0
2085     2016-09-23  145.34  24.19  0.0
2085     2016-09-24  145.45  24.21  0.0
2085     2016-09-25  145.57  24.22  0.0
2085     2016-09-26  145.68  24.24  0.0
2085     2016-09-27  145.80  24.26  0.0
2085     2016-09-28  145.91  24.28  0.0
2085     2016-09-29  146.03  24.30  0.0
2085     2016-09-30  146.14  24.32  0.0
2085     2016-10-01  146.26  24.34  0.0
2085     2016-10-02  146.37  24.36  0.0
2085     2016-10-03  146.50  24.38  0.0
2085     2016-10-04  145.95  24.29  0.0
2085     2016-10-05  145.40  24.20  0.0
2085     2016-10-06  145.47  24.21  0.0
2085     2016-10-07  145.55  24.22  0.0
2085     2016-10-08  145.62  24.23  0.0
2085     2016-10-09  145.70  24.25  0.0
2085     2016-10-10  145.77  24.26  0.0
2085     2016-10-11  145.85  24.27  0.0
2085     2016-10-12  145.92  24.28  0.0

[21475 rows x 4 columns]

In [5]:
step_count_food.columns

Index(['Date', 'Weight', 'BMI', 'Fat'], dtype='object')

In [6]:
anthropometrics=pd.read_csv('F&T anthropometrics.csv')
anthropometrics['CorrectedDate'] =  pd.to_datetime(anthropometrics['CorrectedDate'], format='%d-%b-%y',errors='ignore')
anthropometrics['CorrectedRVDate']=pd.to_datetime(anthropometrics['CorrectedRVDate'], format='%d-%b-%y',errors='ignore')
anthropometrics=anthropometrics.drop(columns=['Date','RVDate','RVNotes'],axis=1)
anthropometrics=anthropometrics.set_index('studyID')
anthropometrics

,CorrectedDate,Randomization,StudyGroup,raid,StudyVisit,SystolicR1,DiastolicR1,SystolicL1,DiastolicL1,SystolicR2,...,WaistCm2,HipCm1,HipCm2,RANotes,CorrectedRVDate,RVMissedItems,HeightCm,MeanWtKg,bmi,MeanWaistCm
studyID,,,,,,,,,,,,,,,,,,,,,
2001,17 Nov 14,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),137.0,78.0,146.0,92.0,132.0,...,114.4,115.9,116.0,no strips,01 Dec 14,Yes,176.4,115.0,36.957338,114.35
2001,03 Mar 15,Yes,Blue,2. 23 Shannon Muramoto,3 Month,137.0,67.0,127.0,71.0,127.0,...,101.3,119.0,119.0,NaN,01 Dec 14,Yes,176.4,102.5,32.940236,101.40
2001,02 Jun 15,Yes,Blue,9. 40 Raymond Ma,6 Month,121.0,58.0,133.0,66.0,122.0,...,105.8,108.3,108.4,NaN,01 Dec 14,Yes,176.4,103.7,33.325878,105.90
2003,22 Nov 14,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),113.0,86.0,121.0,93.0,107.0,...,125.2,131.4,131.5,no strips,09 Dec 14,Yes,162.2,113.9,43.293433,125.20
2003,30 Mar 15,Yes,Blue,2. 23 Shannon Muramoto,3 Month,108.0,72.0,116.0,81.0,96.0,...,121.5,132.6,132.6,NaN,09 Dec 14,Yes,162.2,115.3,43.825573,121.60
2003,22 Jul 15,Yes,Blue,9. 40 Raymond Ma,6 Month,107.0,78.0,117.0,90.0,113.0,...,127.8,135.0,135.0,NaN,09 Dec 14,Yes,162.2,114.7,43.597513,127.80
2007,07 Jan 15,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),115.0,68.0,114.0,68.0,99.0,...,85.1,99.8,99.8,no strips,22 Jan 15,Yes,166.5,72.9,26.296567,85.15
2007,NaN,Yes,Blue,NaN,3 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withdrew from intervention and study; missed MO3,22 Jan 15,Yes,166.5,NaN,NaN,NaN
2007,09 Jun 15,Yes,Blue,2. 23 Shannon Muramoto,6 Month,118.0,68.0,110.0,65.0,92.0,...,83.3,101.5,101.3,Used values from MO5 for exit visit,22 Jan 15,Yes,166.5,71.2,25.683341,83.35
2008,20 Jan 15,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),128.0,88.0,136.0,88.0,116.0,...,91.8,99.4,99.3,no strips,04 Feb 15,Yes,148.6,64.5,29.209364,91.80
2008,06 May 15,Yes,Blue,2. 23 Shannon Muramoto,3 Month,130.0,74.0,122.0,78.0,126.0,...,84.0,91.7,91.6,NaN,04 Feb 15,Yes,148.6,58.0,26.265784,84.00
2008,04 Aug 15,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,79.0,128.0,84.0,125.0,...,80.3,87.5,87.3,NaN,04 Feb 15,Yes,148.6,53.4,24.182636,80.30
2009,10 Jan 15,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),129.0,93.0,125.0,94.0,136.0,...,93.3,100.0,100.0,no strips,05 Feb 15,Yes,163.4,72.8,27.266367,93.35
2009,NaN,Yes,Blue,NaN,3 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withdrew from intervention and study,05 Feb 15,Yes,163.4,NaN,NaN,NaN
2009,NaN,Yes,Blue,NaN,6 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withdrew from intervention and study,05 Feb 15,Yes,163.4,NaN,NaN,NaN
2014,14 Feb 15,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),132.0,71.0,132.0,70.0,125.0,...,93.5,97.5,97.4,Machine error (glucometer),22 Apr 15,Yes,164.7,74.5,27.464334,93.50
2014,25 Jul 15,Yes,Blue,9. 40 Raymond Ma,3 Month,114.0,67.0,123.0,71.0,112.0,...,80.0,89.0,89.0,NaN,22 Apr 15,Yes,164.7,63.8,23.519792,80.00
2014,12 Oct 15,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,73.0,134.0,72.0,113.0,...,76.5,86.0,86.0,NaN,22 Apr 15,Yes,164.7,60.0,22.118927,76.50
2017,30 Mar 15,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),133.0,99.0,132.0,90.0,128.0,...,95.7,104.2,104.0,NaN,16 Apr 15,Yes,178.3,90.5,28.467275,95.75
2017,21 Jul 15,Yes,Blue,9. 40 Raymond Ma,3 Month,125.0,59.0,116.0,78.0,122.0,...,93.0,101.3,101.3,NaN,16 Apr 15,Yes,178.3,87.2,27.429242,93.00
2017,22 Oct 15,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,75.0,131.0,73.0,123.0,...,86.0,96.0,96.0,NaN,16 Apr 15,Yes,178.3,83.1,26.139564,86.00
2020,03 Apr 15,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),139.0,91.0,136.0,89.0,143.0,...,99.8,102.3,102.3,NaN,30 Apr 15,Yes,170.0,94.1,32.560554,99.80
2020,30 Jul 15,Yes,Blue,9. 40 Raymond Ma,3 Month,130.0,82.0,140.0,85.0,130.0,...,95.5,104.0,104.0,NaN,30 Apr 15,Yes,170.0,92.5,32.006920,95.55
2020,04 Nov 15,Yes,Blue,9. 40 Raymond Ma,6 Month,123.0,80.0,120.0,73.0,120.0,...,95.0,100.0,100.0,NaN,30 Apr 15,Yes,170.0,89.2,30.865052,95.00
2021,08 Apr 15,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),131.0,71.0,128.0,66.0,130.0,...,84.5,101.1,101.2,NaN,06 May 15,Yes,144.5,58.8,28.160582,84.50
2021,03 Aug 15,Yes,Blue,9. 40 Raymond Ma,3 Month,122.0,62.0,125.0,68.0,110.0,...,85.0,100.0,100.0,NaN,06 May 15,Yes,144.5,58.0,27.777445,85.00
2021,09 Nov 15,Yes,Blue,9. 40 Raymond Ma,6 Month,147.0,64.0,123.0,64.0,131.0,...,81.5,100.0,100.0,NaN,06 May 15,Yes,144.5,57.4,27.490092,81.50
2024,14 Apr 15,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),113.0,57.0,102.0,55.0,97.0,...,88.5,102.9,102.9,NaN,28 Apr 15,Yes,161.9,73.6,28.079160,88.60
2024,25 Aug 15,Yes,Blue,9. 40 Raymond Ma,3 Month,101.0,69.0,96.0,69.0,93.0,...,92.1,97.5,97.6,NaN,28 Apr 15,Yes,161.9,66.0,25.179682,92.05
2024,03 Nov 15,Yes,Blue,9. 40 Raymond Ma,6 Month,97.0,56.0,92.0,50.0,93.0,...,90.5,98.7,98.7,NaN,28 Apr 15,Yes,161.9,66.7,25.446739,90.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,10 Aug 15,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),125.0,72.0,118.0,68.0,121.0,...,99.0,95.0,95.0,NaN,22 Sep 15,Yes,161.1,77.6,29.899962,99.00
2059,28 Jan 16,Yes,Red,9. 40 Raymond Ma,3 Month,118.0,65.0,121.0,60.0,118.0,...,96.5,91.0,91.0,NaN,22 Sep 15,Yes,161.1,75.4,29.052283,96.50
2059,10 May 16,Yes,Red,9. 40 Raymond Ma,6 Month,110.0,56.0,114.0,55.0,105.0,...,92.0,91.0,91.0,NaN,22 Sep 15,Yes,161.1,73.3,28.243134,92.00
2060,11 Aug 15,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),142.0,80.0,131.0,77.0,139.0,...,84.9,91.0,91.0,NaN,03 Sep 15,Yes,166.0,68.3,24.785891,84.90
2060,10 Dec 15,Yes,Red,9. 40 Raymond Ma,3 Month,132.0,69.0,125.0,69.0,136.0,...,84.5,91.0,91.0,NaN,03 Sep 15,Yes,166.0,68.1,24.713311,84.50
2060,02 Mar 16,Yes,Red,7. 37 Claire Pham,6 Month,135.0,81.0,139.0,88.0,133.0,...,83.7,89.6,89.8,NaN,03 Sep 15,Yes,166.0,66.2,24.023806,83.75
2066,02 Oct 15,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),156.0,78.0,134.0,75.0,136.0,...,100.7,103.4,103.4,NaN,26 Oct 15,Yes,161.6,72.6,27.800583,100.70
2066,08 Feb 16,Yes,Red,9. 40 Raymond Ma,3 Month,149.0,77.0,139.0,79.0,132.0,...,100.5,104.5,104.5,Withdrew from intervention; missed MO5,26 Oct 15,Yes,161.6,71.1,27.226191,100.50
2066,07 Jul 16,Yes,Red,40,6 Month,141.0,61.0,136.0,79.0,127.0,...,93.5,101.5,101.5,Completed exit visit,26 Oct 15,Yes,161.6,71.8,27.494241,93.50
2070,04 Nov 15,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),114.0,75.0,126.0,86.0,119.0,...,103.4,110.5,110.5,"glucometer was in another office, RA had no ac...",04 Dec 15,Yes,167.2,88.2,31.549758,103.40
2070,29 Feb 16,Yes,Red,7. 37 Claire Pham,3 Month,122.0,83.0,129.0,82.0,123.0,...,102.3,109.8,109.9,NaN,04 Dec 15,Yes,167.2,87.7,31.370905,102.25
2070,24 Jun 16,Yes,Red,40,6 Month,118.0,72.0,124.0,81.0,112.0,...,88.5,107.5,107.5,NaN,04 Dec 15,Yes,167.2,87.3,31.227822,88.50
2071,10 Nov 15,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),159.0,83.0,153.0,91.0,133.0,...,108.5,109.0,109.0,NaN,09 Dec 15,Yes,175.8,101.9,32.971328,108.50
2071,23 Mar 16,Yes,Red,9. 40 Raymond Ma,3 Month,138.0,80.0,145.0,88.0,135.0,...,106.3,106.0,106.0,NaN,09 Dec 15,Yes,175.8,101.8,32.938972,106.30
2071,21 Jun 16,Yes,Red,40,6 Month,127.0,77.0,127.0,77.0,129.0,...,105.0,106.5,106.5,NaN,09 Dec 15,Yes,175.8,101.5,32.841902,105.00
2078,01 Dec 15,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),130.0,72.0,123.0,71.0,126.0,...,91.0,101.0,101.0,NaN,21 Dec 15,Yes,155.9,64.8,26.661389,91.00
2078,21 Mar 16,Yes,Red,9. 40 Raymond Ma,3 Month,116.0,68.0,125.0,66.0,113.0,...,85.5,101.5,101.5,NaN,21 Dec 15,Yes,155.9,66.1,27.196263,85.50
2078,23 Jun 16,Yes,Red,40,6 Month,128.0,67.0,113.0,69.0,120.0,...,83.0,98.0,98.0,NaN,21 Dec 15,Yes,155.9,61.9,25.468210,83.00
2080,09 Dec 15,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),135.0,87.0,125.0,86.0,126.0,...,104.5,109.0,109.0,NaN,07 Jan 16,Yes,156.6,78.3,31.928480,104.50
2080,07 Apr 16,Yes,Red,9. 40 Raymond Ma,3 Month,132.0,82.0,139.0,82.0,138.0,...,101.0,103.0,103.0,NaN,07 Jan 16,Yes,156.6,76.4,31.153715,101.00
2080,07 Jul 16,Yes,Red,40,6 Month,152.0,86.0,130.0,74.0,137.0,...,100.0,101.3,101.3,NaN,07 Jan 16,Yes,156.6,76.5,31.194492,99.95
2081,10 Dec 15,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),143.0,98.0,134.0,97.0,138.0,...,96.3,101.5,101.5,NaN,05 Jan 16,Yes,168.3,85.8,30.291380,96.30
2081,05 Apr 16,Yes,Red,9. 40 Raymond Ma,3 Month,141.0,91.0,136.0,101.0,131.0,...,95.6,103.0,103.0,NaN,05 Jan 16,Yes,168.3,87.4,30.856254,95.60
2081,05 Jul 16,Yes,Red,40,6 Month,125.0,83.0,128.0,85.0,127.0,...,90.3,101.5,101.5,NaN,05 Jan 16,Yes,168.3,84.9,29.973638,90.30
2083,22 Dec 15,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),122.0,77.0,123.0,77.0,128.0,...,107.3,106.9,106.9,no strips,21 Jan 16,Yes,161.2,78.4,30.170742,107.30
2083,26 Apr 16,Yes,Red,9. 40 Raymond Ma,3 Month,120.0,74.0,124.0,80.0,124.0,...,102.5,99.0,99.0,NaN,21 Jan 16,Yes,161.2,80.9,31.132819,102.50
2083,22 Jul 16,Yes,Red,40,6 Month,118.0,73.0,116.0,74.0,123.0,...,100.0,94.5,94.5,NaN,21 Jan 16,Yes,161.2,73.0,28.092655,100.00
2085,08 Jan 16,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),129.0,80.0,123.0,87.0,129.0,...,93.5,103.0,103.0,no strips,29 Jan 16,Yes,155.2,71.4,29.642497,93.50
2085,08 Apr 16,Yes,Red,9. 40 Raymond Ma,3 Month,124.0,72.0,110.0,78.0,125.0,...,97.0,104.0,104.0,NaN,29 Jan 16,Yes,155.2,71.6,29.725529,97.00
2085,29 Jul 16,Yes,Red,40,6 Month,118.0,72.0,114.0,77.0,112.0,...,81.5,99.5,99.5,NaN,29 Jan 16,Yes,155.2,65.7,27.276079,81.50

In [7]:
labs=pd.read_excel('F&T labs.xlsx')
labs['BFastDate']=pd.to_datetime(labs['BFastDate'], format='%d-%b-%y',errors='ignore')
labs['MO3FastDate']=pd.to_datetime(labs['MO3FastDate'], format='%d-%b-%y',errors='ignore')
labs['MO6FastDate']=pd.to_datetime(labs['MO6FastDate'], format='%d-%b-%y',errors='ignore')

labs=labs.drop(columns=['MO6Validity'],axis=1)
labs=labs.set_index('studyID')
labs

,Brae,StudyGroup,Bldstatus1,Randomization,BDM,Age,Gender,BFastDate,BValidity,BNotes,...,MO6HDL,MO6Tri,MO6LDL,MO6choHD,MO6LDLRatio,M6CRFemale,M6CRMale,MO6MeanGlu,MO6Insulin,MO6Notes
studyID,,,,,,,,,,,,,,,,,,,,,
2001,25,1,1,1,0,28,0,2014-11-25 00:00:00,1,None,...,46,78,133,4.2,2.9,9,2,9999,6.9,Mean plasma glucose missing
2002,23,2,1,1,0,38,1,2014-12-06 00:00:00,0,"Insulin time 1, 2, and 4 missing due to hemolysis",...,45,155,164,5.3,3.6,2,9,9999,6.5,NaN
2003,25,1,1,1,0,26,1,2014-11-29 00:00:00,1,None,...,31,106,136,6.1,4.4,3,9,9999,20.5,NaN
2004,23,2,1,1,0,60,0,2014-12-05 00:00:00,0,"Insulin time 2, 4 and 5 missing due to hemolysis",...,92,63,154,2.8,1.7,9,1,9999,3.2,NaN
2005,23,2,1,1,0,34,0,2014-12-18 00:00:00,0,Insulin time 4 missing due to hemolysis,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Withdrew from intervention
2006,23,2,1,1,0,48,1,2014-12-19 00:00:00,1,None,...,92,94,122,2.5,1.3,1,9,9999,20.3,NaN
2007,43,1,1,1,0,27,1,2015-01-15 00:00:00,0,OGTT 1 hour and Insulin missing test not perfo...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Withdrew from intervention and study
2008,43,1,1,1,0,46,1,2015-01-29 00:00:00,1,None,...,85,40,129,2.6,1.5,1,9,9999,5.1,NaN
2009,43,1,1,1,0,38,1,2015-01-17 00:00:00,1,None,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Withdrew from intervention and study
2010,43,2,1,1,0,25,1,2015-01-16 00:00:00,1,None,...,52,56,105,3.2,2.0,1,9,9999,5.7,NaN
2011,37,0,1,0,0,26,1,2015-02-19 00:00:00,1,None,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Dropped out
2012,37,2,1,1,0,29,0,2015-02-14 00:00:00,0,Insulin time 4 missing due to hemolysis,...,87,98,141,2.9,1.6,9,1,9999,9999.0,Test not performed. specimen unsuitbale for te...
2013,37,2,1,1,0,68,1,2015-02-04 00:00:00,0,"Insulin time 1, 2, 3, 4, and 5 and total chole...",...,84,112,132,2.8,1.6,1,9,9999,5.2,NaN
2014,37,1,1,1,0,47,0,2015-02-28 00:00:00,0,Insulin time 5 missing due to hemolysis,...,63,54,73,2.3,1.2,9,1,9999,2.9,NaN
2015,37,0,0,0,9999,42,1,#NULL!,0,Not qualified due to high BP reading at SB visit,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to high BP reading at SB visit
2016,37,0,1,0,1,33,1,2015-04-01 00:00:00,1,Not qualified due to having diabetes,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2017,37,1,1,1,0,43,0,2015-04-10 00:00:00,1,"Age on the lab report is incorrect, corrected ...",...,49,90,109,3.6,2.2,9,1,9999,5.2,NaN
2018,37,0,0,0,9999,27,1,#NULL!,0,Dropped out,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Dropped out
2019,37,0,0,0,9999,49,0,#NULL!,0,Not qualified due to high BP reading at SB visit,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to high BP reading at SB visit
2020,37,1,1,1,0,39,0,2015-04-15 00:00:00,1,None,...,33,140,123,5.6,3.7,9,2,9999,3.8,NaN
2021,37,1,1,1,0,61,1,2015-04-29 00:00:00,0,Insulin time 1 missing due to hemolysis,...,33,182,127,5.9,3.8,2,9,9999,7.1,NaN
2022,37,2,1,1,0,38,1,2015-04-16 00:00:00,1,None,...,57,63,112,3.2,2.0,1,9,9999,5.6,NaN
2023,37,2,1,1,0,26,1,2015-05-01 00:00:00,1,None,...,58,73,86,2.7,1.5,1,9,9999,7.9,NaN
2024,37,1,1,1,0,31,1,2015-04-23 00:00:00,0,"Insulin time 1, 2, 3, 4, and 5 missing due to ...",...,69,62,41,1.8,0.6,1,9,9999,5.4,"there are 2 labs, 1 fasting and 1 non-fasting...."
2025,37,2,1,1,0,41,0,2015-04-21 00:00:00,1,None,...,39,65,97,3.8,2.5,9,2,9999,12.4,NaN
2026,37,2,1,1,0,45,0,2015-04-28 00:00:00,1,None,...,55,60,108,3.2,2.0,9,1,9999,3.0,NaN
2027,37,2,1,1,0,27,1,2015-05-27 00:00:00,1,0,...,54,118,175,4.7,3.2,2,9,9999,5.1,NaN
2028,37,1,1,1,0,29,0,2015-05-07 00:00:00,1,None,...,37,336,144,6.7,3.9,9,2,9999,16.9,NaN
2029,37,1,1,1,0,65,0,2015-05-05 00:00:00,0,Insulin time 4 missing due to hemolysis,...,73,85,150,3.3,2.1,9,1,9999,1.4,NaN
2030,37,0,1,0,1,46,0,2015-05-06 00:00:00,1,Not qualified due to having diabetes,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,37,1,1,1,0,40,1,2015-08-12 00:00:00,0,Mean plasma glucose missing,...,52,149,80,3.1,1.5,1,9,9999,9.9,NaN
2057,37,2,1,1,0,40,0,2015-08-19 00:00:00,0,Mean plasma glucose missing,...,63,69,84,2.6,1.3,9,1,9999,2.3,NaN
2058,37,2,1,1,0,36,1,2015-09-21 00:00:00,0,Mean plasma glucose missing,...,36,73,94,4.0,2.6,2,9,9999,8.8,NaN
2059,37,2,1,1,0,38,0,2015-09-12 00:00:00,0,Insulin time 1 missing due to hemolysis and me...,...,37,134,174,6.4,4.7,9,2,9999,6.2,NaN
2060,37,2,1,1,0,42,0,2015-08-21 00:00:00,0,Insulin time 4 and 5 missing due to hemolysis ...,...,50,119,97,3.4,1.9,9,1,9999,8.5,NaN
2061,37,0,0,0,9999,35,1,#NULL!,0,Dropped out,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Dropped out
2062,37,0,1,0,1,35,1,2015-09-25 00:00:00,0,Not qualified due to having diabetes,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2063,37,1,1,1,0,26,0,2015-09-17 00:00:00,0,Mean plasma glucose missing,...,40,185,108,4.6,2.7,9,2,9999,5.4,NaN
2064,37,1,1,1,0,33,0,2015-09-11 00:00:00,0,Mean plasma glucose missing,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,NaN
2065,37,0,1,0,1,33,1,2015-09-18 00:00:00,0,Insulin time 2 and 3 missing due to hemolysis;...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2066,37,2,1,1,0,50,1,2015-10-09 00:00:00,0,Insulin time 4 and 5 missing due to hemolysis ...,...,74,69,78,2.2,1.1,1,9,9999,8.6,NaN
2067,37,1,1,1,0,67,1,2015-10-21 00:00:00,0,Mean plasma glucose missing,...,59,104,155,4.0,2.6,2,9,9999,6.7,NaN
2068,37,0,0,0,9999,28,0,#NULL!,0,Not qualified missed two blood draws,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to missing 2 blood draw appo...
2069,37,1,1,1,0,44,0,2015-11-13 00:00:00,0,Mean plasma glucose missing,...,61,70,90,2.7,1.5,9,1,9999,2.2,NaN
2070,37,2,1,1,0,53,1,2015-11-20 00:00:00,0,Insulin time 4 missing due to hemolysis and me...,...,60,75,90,2.8,1.5,1,9,9999,17.6,NaN
2071,37,2,1,1,0,49,0,2015-12-02 00:00:00,0,Mean plasma glucose missing,...,39,207,118,5.1,3.0,9,2,9999,20.4,NaN
2072,37,1,1,1,0,52,0,2015-12-03 00:00:00,0,Insulin time 1 missing due to hemolysis and me...,...,53,76,94,3.1,1.8,9,1,9999,5.2,NaN
2073,37,0,1,0,1,65,0,2015-11-18 00:00:00,0,Insulin time 1 missing due to hemolysis and me...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2074,37,1,1,1,0,63,1,2015-12-04 00:00:00,0,Insulin time 2 missing due to hemolysis and me...,...,100,116,117,2.4,1.2,1,9,9999,3.5,NaN
2075,37,1,1,1,0,33,0,2015-12-04 00:00:00,0,Mean plasma glucose missing,...,39,185,164,6.2,4.2,9,2,9999,13.0,NaN
2076,37,1,1,1,0,37,1,2015-12-15 00:00:00,0,All Insulin missing due to hemolysis and Mean ...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,NaN
2077,37,0,1,0,1,49,1,2015-12-12 00:00:00,0,All Insulin missing due to hemolysis and Mean ...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2078,37,2,1,1,0,58,1,2015-12-11 00:00:00,0,Mean plasma glucose missing,...,53,191,106,3.7,2.0,1,9,9999,6.0,NaN
2079,37,0,1,0,1,45,1,2015-12-10 00:00:00,0,Insulin time 5 missing due to hemolysis;mean p...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2080,37,2,1,1,0,41,1,2015-12-17 00:00:00,0,Insulin time 2 and 3 missing due to hemolysis;...,...,46,129,106,3.9,2.3,1,9,9999,19.5,NaN
2081,37,2,1,1,0,30,0,2015-12-18 00:00:00,0,Mean plasma glucose missing,...,48,126,115,3.9,2.4,9,2,9999,10.3,NaN
2082,37,1,1,1,0,45,1,2015-12-29 00:00:00,0,Mean plasma glucose missing,...,35,250,125,6.0,3.6,2,9,9999,31.1,NaN
2083,37,2,1,1,0,52,0,2016-01-09 00:00:00,0,Mean plasma glucose missing,...,75,69,115,2.7,1.5,9,1,9999,5.0,NaN
2084,37,1,1,1,0,25,1,2016-01-09 00:00:00,0,Insulin time 5 missing due to hemolysis;mean p...,...,53,47,67,2.4,1.3,1,9,9999,7.5,NaN
2085,37,2,1,1,0,39,1,2016-01-15 00:00:00,0,Insulin time 3 missing due to hemolysis;mean p...,...,48,55,98,3.3,2.0,1,9,9999,3.0,NaN